<body>
        
    <div id="react-entry-point"><div id="root"><div id="header">
        <h4>Rate of US Poison-Induced Deaths</h4>
        <p id="description">
        </p>
    </div>
    <div id="app-container">
        <div id="left-column">
               
        </div>
    </div>
    <footer>
        <script id="_dash-renderer" type="application/javascript">
            var renderer = new DashRenderer();</script>
    </footer>
        
    <svg id="js-plotly-tester" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="position: absolute; left: -10000px; top: -10000px; width: 9000px; height: 9000px; z-index: 1;"><path class="js-reference-point" d="M0,0H1V1H0Z" style="stroke-width: 0; fill: black;"></path></svg></body>