<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flask Project-2</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/d3Style.css">

</head>

<br>
<h2 style="position:absolute;left:20%;color:rgb(182, 39, 106)">Indeed Positions & Cities</h2>
<br>
<div class="Col_container">
    
    <div class="row">
        
      
      <div class="col-md-8">
       
            <figure class="figure">
                
                <img src="../role_city_plot.png" alt="indeed_city" style="width:100%;height:100%;">
                <figcaption>
                    A chart showing the city/company with the most jobs collected in the data. 
                </figcaption>  
            </figure>
    

      </div>
      <br>
      <h2 style="position:absolute;left:20%;color:rgb(182, 39, 106)">Indeed Positions & States</h2>
      <br>
      <div class="Col_container">
          
          <div class="row">
              
            
            <div class="col-md-8">
             
                  <figure class="figure">
                      
                      <img src="../role_state_plot.png" alt="indeed_state" style="width:100%;height:100%;">
                      <figcaption>
                          A chart showing the different companies and amounts of positions in each state. 
                      </figcaption>  
                  </figure>
          
      
            </div>
            <br>
            <h2 style="position:absolute;left:20%;color:rgb(182, 39, 106)">Glassdoor Positions & Cities</h2>
            <br>
            <div class="Col_container">
                
                <div class="row">
                    
                  
                  <div class="col-md-8">
                   
                        <figure class="figure">
                            
                            <img src="../glass_city_plot.png" alt="glassdoor_city" style="width:100%;height:100%;">
                            <figcaption>
                                A chart showing the city/company with the most jobs collected in the data. 
                            </figcaption>  
                        </figure>
                
            
                  </div>
                  <br>
                  <h2 style="position:absolute;left:20%;color:rgb(182, 39, 106)">Glassdoor Positions & State</h2>
                  <br>
                  <div class="Col_container">
                      
                      <div class="row">
                          
                        
                        <div class="col-md-8">
                         
                              <figure class="figure">
                                  
                                  <img src="../glass_state_plot.png" alt="glass_state" style="width:100%;height:100%;">
                                  <figcaption>
                                    A chart showing the different companies and amounts of positions in each state.  
                                  </figcaption>  
                              </figure>
                      
                  
                        </div>
                
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    </body>
                
 </html>              

                